*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 80px;
    background: linear-gradient(to right,
    #fe015a 35%, rgb(255,3,3));
    background-size: 200% auto;
    -webkit-background-clip:text;
    color: transparent;
}