
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background-color: black;
}

.box{
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: red;
}

.box-image {
  display:block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.box-image.flickity-lazyloaded,
.box-image.flickity-lazyerror {
  opacity: 1;
}
